<h1 class="text-5xl mb-10">Wellcome to my Black Jack game!</h1>
<h2 class="text-3xl mb-7">Hi! user name</h2>
<div class="max-w-xl mx-auto mb-10">
	<ul class="text-left list-disc">
		<li class="mb-3">Beat the dealer by drawing a hand value that is higher than the dealer’s hand value</li>
		<li class="mb-3">The hand value can not exceeds 21</li>
		<li class="mb-3">You can draw another card by HIT</li>
		<li class="mb-3">If your hand value is good enouth then STAND and it will be the dealer's turn</li>
		<li class="mb-3">The dealer has to draw a card untill the hand value more than 17 and stop drawing after 17</li>
	</ul>
</div>
<div class="mx-auto w-40 h-10 bg-black border rounded-xl hover:bg-white"><%= link_to "Game start", playField_path, class: "block leading-10 w-full h-full text-white hover:text-black" %></div>