<header class="bg-stone-900 px-20 py-10">
	<div class="flex justify-between items-center">
		<h1><%= link_to "Black Jack", root_path, class:"text-white text-5xl"%></h1>
		<nav>
			<ul class="flex">
				<li class="text-white ml-7 text-lg">navItem</li>
				<li class="text-white ml-7 text-lg">navItem</li>
			</ul>
		</nav>
	</div>
</header>